@import url('https://fonts.googleapis.com/css2?family=Stalemate&family=Work+Sans&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;	
}
h1 {
	font-size: var(--big);
}
h2,h3,h4,h5,h6 {
	font-size: var(--normal);
}

body {	
	color: var(--darkgrey, #333);
	background-color: var(--white, white);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;	
	font-size: var(--normal);
	font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--blue);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--lightgrey,#333);
	background-color: var(--white);
	color: var(--darkgrey);
	border-radius: 2px;
}

input:disabled {
	color: var(--mediumgrey)
}

button {
	color: var(--darkgrey);
	background-color: var(--white);
	border: 1px solid var(--lightgrey);
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

@font-face {
	src: url('fonts/LabDJRColorVariable[SIZE,BEVL,OVAL,SPRK,QUAD,XSWP,YSWP].woff2') format("woff2"),
		url('fonts/LabDJRColorVariable[SIZE,BEVL,OVAL,SPRK,QUAD,XSWP,YSWP].woff') format("woff");
	font-family: 'Lab DJR Web';
	font-style: normal;
	font-weight: normal;
}
